a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--green);
}

p {
  margin: 0 0 1rem;
}

p > a {
  position: relative;
  display: inline-block;
  color: var(--green);
  transition: var(--transition);
}

p > a::after {
  content: "";
  display: block;
  position: relative;
  width: 0px;
  height: 1px;
  bottom: 0.33rem;
  background-color: var(--green);
  opacity: 0.5;
  transition: var(--transition);
}

p > a:hover,
p > a:focus-visible {
  color: var(--green);
  outline: 0px;
}

p > a:hover::after,
p > a:focus-visible::after {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.numbered-heading {
  position: relative;
  width: 100%;
  margin: 0.5rem 0 3.5rem;
  display: flex;
  align-items: center;
  font-size: clamp(1.5rem, 5vw, var(--text-heading));
  white-space: nowrap;
}

.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--text-md), 3vw, var(--text-xl));
  font-weight: 400;
}

.numbered-heading::after {
  content: "";
  position: relative;
  display: block;
  margin-left: 1.5rem;
  top: -0.25rem;
  width: 20rem;
  height: 1px;
  background-color: var(--lightest-navy);
}

.numbered-heading.overline {
  display: block;
  margin-bottom: 1rem;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--text-md);
  font-weight: 400;
}

.numbered-heading.overline::before {
  bottom: 0;
  font-size: var(--text-sm);
}

.numbered-heading.overline::after {
  content: none;
}
